*{
  margin: 0;
  padding: 0;
  
}

body {
  display: flex;
  justify-content: center;
  background: url('/assets/pokemonmap.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    
  color: white;
}


.poke-container {
  display: -webkit-inline-box;
  justify-content: center;
  align-items: center;
  overflow-x: auto;

  padding: 8px;

  width: 90vw;
  height: 70vh;

  margin-top: 8%;

  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);

}

.poke-container::-webkit-scrollbar{
  width: 0;
}

.container {
  display: inline-block;
  justify-content: center;
  
 
  gap: 8px;

}


.card{
  display: flex;
  flex-direction: column;
  align-items: stretch;

  transition: all 600ms ease-in-out;
  cursor: pointer;

  box-shadow: 0px 4px 8px var(--shadow-color);

  transition: transform 0.3s;
  animation: rotate 0.2s linear;

  width: 200px;
  height: 200px;

  margin-right: 8px;

  border-radius: 8PX;

  
  background-color: #61dafb42;
}

@keyframes rotate{
  from {transform: rotateZ(50deg);}
  to {transform: rotateZ(0deg);}
}

h2{
  font-size: 18px;
}